body{
    width: 700px;
    margin: auto;
}



.megszolitas{
   font-size: 25px;
    clear: left;
    font-weight: 900;
}


h1{
    color: blue;
    width:600%;
    font-weight: 100;
    margin: auto;
    padding: 5% 1% 2% 25% ;
}

input,label{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-color: grey;
}

input[type=text]{
     width:110%;
     color:gray;
     background-color: snow;
}

.vezeteknev{
    padding-right: 50px;
    float: left;
}

.keresztnev{
    float: left;
}

input[type=date]{
    width:32.3%;
    color:gray;
    background-color: snow;
}

input[type=email]{
    width:110%;
    color:gray;
    background-color: snow;
}

input[type=password]{
    width:110%;
    color:gray;
    background-color: snow;
}

.datum{
    clear: left;
}

.email{
    padding-right: 50px;
    float:left; 
}

.email2{
    padding-right: 10px;
    float: left;    
}

.password{
    padding-right: 50px;
    float: left;
}

.password2{
    float: left;  
}

.checkbox{
    clear: left;
}

.kuldes{
    background-color: blue;
    float: right;
}

h4{
    clear: left;
}